/* Layout */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

main > * {
    border: 1px solid #00A9A3;
    background: #1c262f;
    color: #90a3c0;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

main > header {
    flex: 3 100%;
    margin: 50px;
}

main > footer {
    flex: 3 100%;
    margin: 50px;
}

main > section {
    min-width: 263px;
    max-width: 320px;
    flex: 1 1 25%;
    box-sizing: border-box;
}

@media screen and (max-width: 420px) {
    main > * {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 320px !important;
        min-width: 320px !important;
        max-width: 320px !important;
    }
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 848px) and (max-width: 1360px) {
    section.split {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        border: 0 none;
        background: none;
        padding: 0;
    }

    section.split>section {
        border: 1px solid #00A9A3;
        background: #1c262f;
        color: #90a3c0;
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        min-width: 333px;
        max-width: 0;
        flex: 1 1 25%;
        box-sizing: border-box;
    }
}

/* Compat */
.top-bar {
    width: 100vw;
    text-align: center;
    padding: 5px 0;
}
.top-bar.error {
    background-color: darkred;
    color: white;
}
.top-bar.warning {
    background-color: darkorange;
    color: black;
}
.top-bar div {
    float: right;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .top-bar.ie {
        display: block !important;
    }
}

/* Theme */
html {
    background: transparent !important;
}
body {
    background: #1c262f !important;
    color: #90a3c0;
}

input,
button {
    background-color: #1c262f !important;
    color: #e1edff;
    border: 2px solid #323f4e;
    padding: 10px;
}

:disabled {
    color: #555555;
    cursor: not-allowed;
}

input:hover,
input:focus,
a:hover .button,
button:hover {
    border-color: #00A9A3;
}

/* Fix webkit autocomplete render bug */
input:-webkit-autofill {
    box-shadow: 0 0 0 50px #1c262f inset;
    -webkit-box-shadow: 0 0 0 50px #1c262f inset;
    -webkit-text-fill-color: #e1edff;
}

input:-webkit-autofill:focus {
    -webkit-text-fill-color: #e1edff;
}

label span {
    display: block;
    padding: 10px 0 15px 0;
}

.button {
    background-color: #1c262f;
    color: #e1edff;
    border: 2px solid #323f4e;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.good {
    color: green;
}

.avg {
    color: gold;
}

.bad {
    color: red;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}
div > a {
    display: inline-block;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

ul.float {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none outside none;
}

ul li::before {
    display: inline-block;
    content: "\2022";
    color: #00A9A3;
    font-weight: bold;
    width: 1em;
    margin-left: -1em;
}

ul li {
    display: inline;
    margin: 0 10px;
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    border-bottom: 1px solid #00A9A3;
    user-select: none;
}

table tfoot {
    border-top: 1px solid #00A9A3;
}

table thead th:hover {
    color: #fff;
    cursor: pointer;
}

table.loading,table.loading tr,table.loading td {
    cursor: progress !important;
}

table.loading th {
    cursor: not-allowed !important;
}

.member-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.member-table td:nth-child(1):hover {
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    p.mobile {
        display: block !important;
        color:#777;
    }

    .rank-table th:nth-child(7),
    .rank-table td:nth-child(7) {
        display: none;
    }

    .rank-table th:nth-child(8),
    .rank-table td:nth-child(8) {
        display: none;
    }

    .rank-table th:nth-child(9),
    .rank-table td:nth-child(9) {
        display: none;
    }

    .member-table th:nth-child(1),
    .member-table td:nth-child(1) {
        min-width: 100px;
    }

    .member-table th:nth-child(2),
    .member-table td:nth-child(2) {
        max-width: 50px;
    }

    .member-table th:nth-child(4),
    .member-table td:nth-child(4) {
        display: none;
    }

    .member-table th:nth-child(5),
    .member-table td:nth-child(5) {
        display: none;
    }
    
    .member-table td {
        max-width: 50px;
    }
}


#footer_loading {
    min-height: 50px;
}

#userdetail_loadout {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#userdetail_loadout div {
    background-color: #252F39;
    width: 350px;
    margin: 15px;
    padding: 15px;
    flex-grow: 1;
}

/* Loading */
.error div {
    text-decoration: line-through;
}

.loading span::before, span.loading::before {
    animation: dots 3s linear infinite;
    content: "   ";
    min-width: 15px;
    display: inline-block;
}

#footer_loading span::before {
    font-size: xx-large;
}

@keyframes dots {

    0%,
    20% {
        content: ".  ";
    }

    40% {
        content: ".. ";
    }

    60% {
        content: "...";
    }

    90%,
    100% {
        content: "   ";
    }
}

/* Particles */
#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#particles-js canvas {
    display: block;
}

/* Tooltip */
[data-tooltip] {
    cursor: pointer;
    line-height: 1;
}

[data-tooltip]::after {
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 0.3rem;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 1rem;
    font-size: 85%;
    font-weight: normal;
    line-height: 1.15rem;
    opacity: 0;
    padding: 0.25rem 0.5rem;
    position: absolute;
    text-align: center;
    text-transform: none;
    transition: opacity 0.2s;
    visibility: hidden;
    white-space: nowrap;
    z-index: 1;
    transform: translate(-70%);
}

@media (max-width: 767px) {
    [data-tooltip].tooltip-mobile::before {
        display: none;
    }

    [data-tooltip].tooltip-mobile:after {
        font-size: 1rem;
        max-width: 20rem;
        position: fixed;
        bottom: auto;
        top: 50%;
        left: 50%;
        text-align: left;
        transform: translate(-50%);
        white-space: normal;
    }
}

[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
}

:root {
    color-scheme: dark;
}

/* Tabs */
.tabs > input, .tabs > .tab-container > article {
    display: none;
    padding: 20px;
}
.tabs > nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border: solid #00A9A3;
    border-width: 0 0 1px 0 ;
}
.tabs > nav label {
    padding: 10px;
    margin: 5px 5px 0 5px;
    cursor: pointer;
}

.tabs > input:nth-child(1):checked ~ .tab-container > article:nth-child(1),
.tabs > input:nth-child(2):checked ~ .tab-container > article:nth-child(2),
.tabs > input:nth-child(3):checked ~ .tab-container > article:nth-child(3) {
    display: block !important;
}
.tabs > input:nth-child(1):checked ~ nav > label:nth-child(1),
.tabs > input:nth-child(2):checked ~ nav > label:nth-child(2),
.tabs > input:nth-child(3):checked ~ nav > label:nth-child(3) {
    border: solid #00A9A3;
    border-width: 1px 1px 0 1px;
    border-radius: 15px 15px 0 0;
    padding: 9px;
}
